<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0,viewport-fit=cover"
    />
    <meta
      name="format-detection"
      content="telephone=no,email=no,date=no,address=no"
    />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1507446_i74rxx9xna.css">
    <link rel="stylesheet" href="css/common.css">
    
    <title><%= htmlWebpackPlugin.options.name %></title>

    <% if(process.env.NODE_ENV === 'development') { %>
    <script type="text/javascript" src="js/vue.js"></script>
    <% }else {%>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <% } %>

    <script type="text/javascript" src="js/aes.js"></script>
    <script type="text/javascript" src="js/rsa.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/fastclick.min.js"></script>
  </head>
  <body>
    <div v-cloak id="app">
      <page ref="page" /><!-- Vue here -->
    </div>
  </body>
</html>
<script type="text/javascript">
  var vm;
  // Apicloud initialize
  apiready = function() {
    Vue.prototype.$ac = api; // Vue global apicloud API
    window.vm = new Vue({
      el: '#app',
      components: { page: window.pageVue }
    });
  };

  // Browser initialize
  setTimeout(function() {
    if (vm === undefined) {
      window.vm = new Vue({
        el: '#app',
        components: { page: window.pageVue }
      });
    }
  }, 500);
</script>
